.body {
    font-family: 'PT Sans', sans-serif;
}

.navbar {
    background-color: rgb(29, 0, 77)
}

.navbar-brand {
    padding-left: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    padding-left: 1.5rem;
}

/* para a imagem não achatar object-fit*/
.img-carousel {    
 object-fit: cover;   
 height:450px;
 filter: brightness(50%);
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 4em;
}

h2  {
    font-family: 'Roboto Slab', serif;
}


.tittle {
    padding: 4rem 10vh 0 10vh;
}

.tittle h2 {
    padding-bottom: 2rem;
    color: rgb(29, 0, 77)
}

.main-purple {
    background-color: rgb(236, 221, 253);
}

.card {
    border-color: rgb(186, 102, 255);
    box-shadow: 5px 2px 10px black;
}

.btn-purple {
    background-color: rgb(29, 0, 77);
    color: whitesmoke
}

.btn-purple:hover {
    background-color: rgb(1, 0, 77);
    color: whitesmoke
}


.card {
    max-width: 18rem;
    margin: 0 2rem 3rem 2rem;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.tittle-card {
    padding: 6rem 0 5rem 0;
    color: rgb(1, 0, 77);
}

.contato  {
    padding: 1.5rem 0 1rem 0;
}
