
h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 4em;
}

h2  {
    font-family: 'Roboto Slab', serif;
    padding-bottom: 3rem;
}

p {
    font-size: 1.2rem;
}

/* Sobre a barra de navegação */

.navbar {
    background-color: #0D0126;
    color: #885BA6;
}

.navbar-brand {
    padding-left: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    padding-left: 1.5rem;
}

/* Sobre o carrossel. Para a imagem não achatar object-fit*/
.img-carousel {    
 object-fit: cover;   
 height:450px;
 filter: brightness(50%);
}

/* Adicionando paddings nas seções */

.section {
    padding: 5rem 10vh 5rem 10vh;
}

/* Cor do título no quem sou eu */

.who h2 {
    color: #210140
}

/* Arrumando background das ultimas materias */

#materias {
    background-color:#BCA0CE;
}

.last-articles-tittle {
    color: #0D0126;
}

.card {
    border-color: rgb(186, 102, 255);
    box-shadow: 5px 2px 10px black;
    max-width: 18rem;
    margin: 0 2rem 3rem 2rem;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

/* Botões roxos */

.btn-purple {
    background-color: rgb(29, 0, 77);
    color: whitesmoke
}

.btn-purple:hover {
    background-color: rgb(1, 0, 77);
    color: whitesmoke
}






.contato  {
    padding: 1.5rem 0 1rem 0;
}
